# URL of the deployed CourtFinder aggregator Lambda (Function URL or API Gateway).
# When deployed behind CloudFront on the same origin you can set this to a
# relative path like "/courtfinder/api/availability".
VITE_COURTFINDER_API_URL=https://s9arazkovi.execute-api.eu-west-2.amazonaws.com/default/aggregator
